
.btn{
    font-weight: bold;
    color: white;

    &:hover{
        color: white;
    }
}

.form-check-input{
    width: 20px;
    height: 20px;
}

#completed-task{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    overflow-y: auto;
}

#to-do-list-wrapper{
    width: 100%;
    height: 200px;
    // background-color: yellow;
    overflow-y: auto;
}

#ul-list,#completedList{
    width: 100%; 
    li{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        user-select: none;
        transition: background-color 250ms;
        &:hover{
            background-color: rgba(128, 128, 128, 0.301);
        }
        &:hover .bi{
            visibility: visible;
        }
    
    }  
    .bi{
        font-size: 1rem;
        visibility: hidden;

        &:hover{
            color: blue;
        }
        
    }
   
}

.select{
    background-color: lightblue;
}

h4{
    padding: 10px;
    background-color: rgba(220, 53, 70, 0.959);
    color: white;
    font-weight: bold;
}


#completedListWrapper{
    // background-color: red;
    width: 100%;
    height: 230px;
    overflow-y: auto;
}