.btn{
    font-weight: bold;
}

.form-check-input{
    width: 20px;
    height: 20px;
}

#completed-task{
    width: 100%;
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    margin-top: 10px;
    overflow-y: auto;
}

#to-do-list-wrapper{
    width: 100%;
    height: 200px;
    // background-color: yellow;
    overflow-y: auto;
}

#ul-list{
    width: 100%; 
    label{
        display: flex;
        justify-content: center;
        width: 100%;
        list-style: none;
        // background-color: red;

    }
    li{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background-color 250ms;
        &:hover{
            background-color: rgba(128, 128, 128, 0.301);
        }
        &:hover .bi{
            visibility: visible;
        }
    
    }
    
    .bi{
        font-size: 1rem;
        visibility: hidden;

        &:hover{
            color: blue;
        }
        
    }

    
}